<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página produto</title>
    <link rel="stylesheet" href="/css/produtoDetalhe.css">
</head>
<body>
    <main>
    <section class="container"> 
    <section class="produto">
    <img class="produto-1" src="/img/camiseta-1.jpg" alt="">
    </section>
    <section class="desc"> 
    <h1 class="text">Camiseta Viking World <br>Tour </h1>
    <p class="preco">R$79,90</p>
    <p>
    ou 12x sem juros de <strong>R$7,49</strong>
    <br>Ilustração: André Meister
    Modelo: Wesley Silva
    <br>
    Camiseta 100% algodão, estonado. Fio 30 penteado, <br>
    estampa em silk, gola com costura reforçada.
    </p>

    <button class="btn-buy">Comprar </button>
    </section>

    </section>
    </main>

</body>
</html>